h1{
    color: blue;
    align-content: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #f3efef;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}

nav ul{
    display: flex;
}
nav ul li{
    color: black;
}
nav ul li a{
    margin: 30px;
    font-family: myriad pro 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #505050;
    font-size: 15px ;
    font-weight: 700;
}


.coola,.coold, .coolb, .coolc{
   

    width: 280px;
    height: 300px;
    background-repeat: no-repeat;
    background-size:cover ;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    display: flex;border-radius: 15px;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    background-color: #f3efef;
}

.coola:hover,
.coolb:hover,
.coolc:hover,
.coold:hover
{
    background-color:  rgb(125, 238, 172);
    
}
.allcool{
   display: flex;
   
}

.profting, .description{
    align-items: center;
    margin: 10px;
}
.belowit{
    margin-top: 15px;
    margin-left: 100px;
    width: 1100px; 
    height: 300px;
    display: flex;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    
}